<nav>
    <div class="nav-wrapper" style="background-color:white">

        <a href="home">
            <img src="../../assets/imgs/logo.jpg" class="logo">
        </a>
        
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li>
                <a class="navbar-link" (click)="goToEsportes()">
                    Esportes
                </a>
            </li>
            <li>
                <a class="navbar-link" (click)="goToAtletas()">
                    Atletas
                </a>
            </li>
            <li>
                <a class="navbar-link" (click)="goToPaises()">
                    Países
                </a>
            </li>
            <li>
                <a class="navbar-link" (click)="goToEventos()">
                    Eventos
                </a>
            </li>
        </ul>
    </div>
</nav>