<body>

    <div class="titulo">

        <p class="center-align">Eventos</p>

    </div>

    <div class="container">

        <div class="row">
            <div class="col l4">
                <p class="metadata">NOME</p>
            </div>
            
            <div class="col l1"></div>
            
            <div class="col l3">
                <p class="metadata">ESPORTE</p>
            </div>
            
            <div class="col l4">
                <p class="metadata">LOCAL</p>
            </div>
            <hr>
        </div>
        
        <!-- Aqui entram os dados do BD -->
        <div class="row">
            <div class="col l4">
                <p class="data">Women's 100m Backstroke</p>
            </div>
            
            <div class="col l1"></div>

            <div class="col l3">
                <p class="data">Aquatics</p>
            </div>
            
            <div class="col l4">
                <p class="data">Olympic Stadium</p>
            </div>
        </div>

    </div>
</body>