body{
    font-family: 'Saira', sans-serif;
}

hr{
    color: #808080;
}

.data{
    font-size: 25px;
}

.data:hover{
    color: #8B8B8B;
}

.metadata{
    color: #8B8B8B;
    font-size: 18px;
    font-weight: bold;
}

.row{
    margin-top: 2%;
}

.titulo{
    background-color: #F0C400;
    padding-top: 2%;
    padding-bottom: 2%;
    color: white;
    font-size: 42px;
    font-weight: 1000;
}