<body>
    <div class="titulo">
        <p class="center-align">Women's 100m Backstroke</p>
    </div>
    
    <div class="container info">
        <div class="row">
            <div class="col l1"></div>
            
            <div class="col l5">
                <p><b>Esporte: </b>Aquatics</p>
            </div>
            
            <div class="col l1"></div>
            
            <div class="col l5">
                <p><b>Disciplina: </b>Backstroke</p>
            </div>
        </div>

        <div class="row">
            <div class="col l1"></div>
            
            <div class="col l5">
                <p><b>Genêro: </b>Female</p>
            </div>
            
            <div class="col l1"></div>
            
            <div class="col l5">
                <p><b>Local: </b>Olympic Stadium</p>
            </div>
        </div>
    </div>
</body>