<body>
    <div class="titulo">
        <p class="center-align">Women's 100m Backstroke</p>
    </div>
    
    <div class="container info">

        <div class="row">

            <div class="col l1"></div>
            
            <div class="col l5">
                <h5>
                    <b>Esporte:</b> 
                    <a href="esportes/esporte-perfil">
                        Aquatics
                    </a>
                </h5>
            </div>

        </div>
        
        <div class="row">
            <div class="col l1"></div>
            
            <div class="col l5">
                <h5><b>Disciplina: </b>Backstroke</h5>
            </div>
            
        </div>

        <div class="row">

            <div class="col l1"></div>

            <div class="col l5">
                <h5>
                    <b>Genêro: </b>
                    <a href="generos/feminino">
                        Female
                    </a>
                </h5>
            </div>

        </div>

        <div class="row">

            <div class="col l1"></div>

            <div class="col l5">
                <h5>
                    <b>Local: </b>
                    <a href="locais">
                        Olympic Stadium
                    </a>
                </h5>
            </div>
        </div>

    </div>
</body>