<body>

    <div class="titulo">

        <p class="center-align">Esportes</p>

    </div>

    <div class="esportes container">

        <div class="row">

            <div class="col l4">

                <a href="esportes/esporte-perfil">
                    <li>Arco e flecha</li>
                </a>
                
            </div>

            <div class="col l4">

                <a href="esportes/#">
                    <li>Atletismo</li>
                </a>
                
            </div>


            <div class="col l4">

                <a href="esportes/#">
                    <li>Badminton</li>
                </a>
                
            </div>

        </div>

        <div class="row esportes-row">

            <div class="col l4">

                <a href="esportes/esporte-perfil">
                    <li>Arco e flecha</li>
                </a>
                
            </div>
    
            <div class="col l4">

                <a href="esportes/#">
                    <li>Atletismo</li>
                </a>
                
            </div>


            <div class="col l4">

                <a href="esportes/#">
                    <li>Badminton</li>
                </a>
                
            </div>
    
        </div>

        <div class="row esportes-row">

            <div class="col l4">

                <a href="esportes/esporte-perfil">
                    <li>Arco e flecha</li>
                </a>
                
            </div>

            <div class="col l4">

                <a href="esportes/#">
                    <li>Atletismo</li>
                </a>
                
            </div>


            <div class="col l4">

                <a href="esportes/#">
                    <li>Badminton</li>
                </a>
                
            </div>

        </div>

    </div>

</body>