<body>

    <div class="titulo">

        <p class="center-align">Esportes</p>

    </div>

    <div class="esportes container">

        <div class="row">

            <div class="col l4">

                <li>Arco e flecha</li>
                
            </div>

            <div class="col l4">

                <li>Atletismo</li>
                
            </div>


            <div class="col l4">

                <li>Badminton</li>
                
            </div>

        </div>

        <div class="row esportes-row">

            <div class="col l4">

                <li>Arco e flecha</li>
                
            </div>
    
            <div class="col l4">

                <li>Atletismo</li>
                
            </div>


            <div class="col l4">

                <li>Badminton</li>
                
            </div>
    
        </div>

        <div class="row esportes-row">

            <div class="col l4">

                <li>Arco e flecha</li>
                
            </div>

            <div class="col l4">

                <li>Atletismo</li>
                
            </div>


            <div class="col l4">

                <li>Badminton</li>
                
            </div>

        </div>

    </div>

</body>