<body>

    <div class="titulo">

        <p class="center-align">Países</p>

    </div>

    <div class="paises container">

        <div class="row">

            <div class="col l4">

                <li (click)="goToPaisPerfil()">Afeganistão</li>
                
            </div>

            <div class="col l4">

                <li>Albania</li>
                
            </div>


            <div class="col l4">

                <li>Argélia</li>
                
            </div>

        </div>

        <div class="row paises-row">

            <div class="col l4">

                <li>Afeganistão</li>
                
            </div>

            <div class="col l4">

                <li>Albania</li>
                
            </div>


            <div class="col l4">

                <li>Argélia</li>
                
            </div>

        </div>

        <div class="row paises-row">

            <div class="col l4">

                <li>Afeganistão</li>
                
            </div>

            <div class="col l4">

                <li>Albania</li>
                
            </div>


            <div class="col l4">

                <li>Argélia</li>
                
            </div>

        </div>

    </div>

</body>