<body>

    <div class="titulo">

        <p class="center-align">Países</p>

    </div>

    <div class="paises container">

        <div class="row">

            <div class="col l4">

                <a href="paises/pais-perfil">
                    <li>Afeganistão</li>
                </a>
                
            </div>

            <div class="col l4">

                <a href="paises/#">
                    <li>Albania</li>
                </a>
                
            </div>


            <div class="col l4">

                <a href="paises/#">
                    <li>Argélia</li>
                </a>
                
            </div>

        </div>

        <div class="row paises-row">

            <div class="col l4">

                <a href="paises/pais-perfil">
                    <li>Afeganistão</li>
                </a>
                
            </div>

            <div class="col l4">

                <a href="paises/#">
                    <li>Albania</li>
                </a>
                
            </div>


            <div class="col l4">

                <a href="paises/#">
                    <li>Argélia</li>
                </a>
                
            </div>

        </div>

        <div class="row paises-row">

            <div class="col l4">

                <a href="paises/pais-perfil">
                    <li>Afeganistão</li>
                </a>
                
            </div>

            <div class="col l4">

                <a href="paises/#">
                    <li>Albania</li>
                </a>
                
            </div>


            <div class="col l4">

                <a href="paises/#">
                    <li>Argélia</li>
                </a>
                
            </div>

        </div>

    </div>

</body>