<body>

    <div class="titulo">

        <p class="center-align">Joana Millers</p>

    </div>

    <div class="container info">

        <div class="row">

            <div class="col l1"></div>
    
            <div class="col l3" (click)="goToPais()">
    
                <p><b>País: </b>Afeganistão</p>
    
            </div>

            <div class="col l1"></div>

            <div class="col l3">

                <p><b>Peso: </b>56kg</p>

            </div>

            <div class="col l1"></div>

            <div class="col l3">

                <p><b>Altura: </b>1.72m</p>

            </div>

        </div>

        <div class="row margin-top">

            <div class="col l1"></div>

            <div class="col l3">

                <p><b>Sexo: </b>Masculino</p>

            </div>

            <div class="col l1"></div>

            <div class="col l5">

                    <!-- !!! Conferir se tem como transformar a data do BD para os padrões BR !!! -->
                    <p><b>Data de nascimento: </b>10/17/69</p>
    
                </div>

        </div>

        <div class="margin-top">

            <div class="row">

                <div class="col l1"></div>

                <div class="col l5">

                    <p><b>Medalhas (total):</b></p>

                </div>

            </div>

            <div class="row lista">

                <div class="col l4">

                    <li><b>Ouro: </b>5</li>

                </div>

                <div class="col l4">

                    <li><b>Prata: </b>10</li>

                </div>

                <div class="col l4">

                    <li><b>Bronze: </b>17</li>

                </div>

            </div>

        </div>
            
        <div class="margin-top">

            <div class="row">

                <div class="col l1"></div>
    
                <div class="col l5">

                    <p><b>Esportes:</b></p>

                </div>

            </div>

            <div class="row lista">

                <div class="col l4">

                    <li>Arco e flecha</li>

                </div>

                <div class="col l4">

                    <li>Atletismo</li>

                </div>

                <div class="col l4">

                    <li>Badminton</li>

                </div>

            </div>

        </div>

    </div>

</body>