<body>

    <div class="titulo">

        <p class="center-align">Afeganistão</p>

    </div>

    <div class="container info">

        <div class="row">

            <div class="col l1"></div>

            <div class="col l5">

                <p><b>População: </b>232456</p>

            </div>

            <div class="col l1"></div>

            <div class="col l5">

                <p><b>Renda per capita: </b>US$594.12</p>

            </div>

        </div>

        <div class="row">

            <div class="col l1"></div>

            <div class="col l5">

                <p class="margin-top"><b>Atletas:</b></p>

            </div>

        </div>

        <div class="margin-top">

            <div class="row lista">
    
                <div class="col l4">
    
                    <a href="atletas/atleta-perfil">
                        <li>A Jesus Garcia</li>
                    </a>
    
                </div>
    
    
                <div class="col l4">
    
                    <a href="paises/pais-perfil/#">
                        <li>A Lam Shin</li>
                    </a>
    
                </div>
    
                <div class="col l4">
    
                    <a href="paises/pais-perfil/#">
                        <li>Aaron Brown</li>
                    </a>
    
                </div>
    
            </div>
    
            <div class="row lista">
    
                <div class="col l4">
    
                    <a href="atletas/atleta-perfil">
                        <li>A Jesus Garcia</li>
                    </a>
    
                </div>
    
    
                <div class="col l4">
    
                    <a href="paises/pais-perfil/#">
                        <li>A Lam Shin</li>
                    </a>
    
                </div>
    
                <div class="col l4">
    
                    <a href="paises/pais-perfil/#">
                        <li>Aaron Brown</li>
                    </a>
    
                </div>
    
            </div>
    
            <div class="row lista">
    
                <div class="col l4">
    
                    <a href="atletas/atleta-perfil">
                        <li>A Jesus Garcia</li>
                    </a>
    
                </div>
    
    
                <div class="col l4">
    
                    <a href="paises/pais-perfil/#">
                        <li>A Lam Shin</li>
                    </a>
    
                </div>
    
                <div class="col l4">
    
                    <a href="paises/pais-perfil/#">
                        <li>Aaron Brown</li>
                    </a>
    
                </div>
    
            </div>
    
        </div>

    </div>

</body>