<body>

    <div class="titulo">

        <p class="center-align">Atletas</p>

    </div>

    <div class="atletas container">

        <div class="row">

            <div class="col l4">

                <li (click)="goToAtletaPerfil()">A Jesus Garcia</li>
                
            </div>

            <div class="col l4">

                <li>A Lam Shin</li>
                
            </div>


            <div class="col l4">

                <li>Aaron Brown</li>
                
            </div>

        </div>

        <div class="row atletas-row">

            <div class="col l4">

                <li>A Jesus Garcia</li>
                
            </div>

            <div class="col l4">

                <li>A Lam Shin</li>
                
            </div>


            <div class="col l4">

                <li>Aaron Brown</li>
                
            </div>

        </div>

        <div class="row atletas-row">

            <div class="col l4">

                <li>A Jesus Garcia</li>
                
            </div>

            <div class="col l4">

                <li>A Lam Shin</li>
                
            </div>


            <div class="col l4">

                <li>Aaron Brown</li>
                
            </div>

        </div>

    </div>

</body>